<div class="login-page">
  <div class="login-box">
    <div class="marca-login">
      <img src="assets/lacari-icon.png" alt="Clínica LaCari Odontologia" />
      <div>
        <span>Clínica LaCari</span>
        <h2>Entrar no sistema</h2>
      </div>
    </div>

    <input [(ngModel)]="email" placeholder="E-mail" />
    <input [(ngModel)]="senha" type="password" placeholder="Senha" />

    <button (click)="entrar()">Entrar</button>

    <p *ngIf="erro" class="erro">{{ erro }}</p>
  </div>
</div>
