<div class="layout">
    <aside class="sidebar">
        <div class="brand">
            <img src="assets/lacari-icon.png" alt="Clínica LaCari Odontologia" />
            <div>
                <strong>LaCari</strong>
                <span>Odontologia</span>
            </div>
        </div>

        <nav class="menu">
            <a routerLink="/app/dashboard" routerLinkActive="ativo">Dashboard</a>
            <a routerLink="/app/pacientes" routerLinkActive="ativo">Pacientes</a>
            <a routerLink="/app/importar-ficha" routerLinkActive="ativo">Importar ficha</a>
            <a routerLink="/app/agenda" routerLinkActive="ativo">Agenda</a>
            <a routerLink="/app/financeiro" routerLinkActive="ativo">Financeiro</a>
        </nav>
    </aside>

    <div class="content-area">
        <header class="topbar">
            <div class="usuario">
                <img src="assets/lacari-icon.png" alt="" />
                <div>
                <strong>{{ nomeUsuario }}</strong>
                <span class="perfil">{{ perfil }}</span>
                </div>
            </div>

            <button (click)="logout()">Sair</button>
        </header>

        <main class="content">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
